parameters:
	ignoreErrors:
		-
			message: "#^Result of && is always false\\.$#"
			count: 3
			path: src/QUI/HtmlToPdf/Handler.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '\\(with' and 'patched' will always evaluate to false\\.$#"
			count: 1
			path: src/QUI/HtmlToPdf/Handler.php

		-
			message: "#^Strict comparison using \\=\\=\\= between \\*NEVER\\* and 'qt\\)' will always evaluate to false\\.$#"
			count: 1
			path: src/QUI/HtmlToPdf/Handler.php
