<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="settings">
                <conf name="html_to_pdf_creator_provider">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[QUI\HtmlToPdf\Provider\Pdf\Mpdf\Provider]]></defaultvalue>
                </conf>
                <conf name="pdf_to_image_converter_provider">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[QUI\HtmlToPdf\Provider\Image\ImageMagick\Provider]]></defaultvalue>
                </conf>
            </section>
            <section name="chrome_headless">
                <conf name="executable">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="no_sandbox">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="ignore_certificate_errors">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>
            <section name="image_magick">
                <conf name="convert_executable">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/htmltopdf" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-file-pdf-o</icon>
            </params>

            <categories>
                <category name="settings">
                    <title>
                        <locale group="quiqqer/htmltopdf" var="settings.category.title"/>
                    </title>
                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/htmltopdf" var="settings.title"/>
                        </title>

                        <input conf="settings.html_to_pdf_creator_provider"
                               data-qui="package/quiqqer/htmltopdf/bin/js/backend/controls/ProviderSelectPdf">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.html_to_pdf_creator_provider.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf"
                                        var="settings.html_to_pdf_creator_provider.description"/>
                            </description>
                        </input>

                        <input conf="settings.pdf_to_image_converter_provider"
                               data-qui="package/quiqqer/htmltopdf/bin/js/backend/controls/ProviderSelectImage">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.pdf_to_image_converter_provider.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf"
                                        var="settings.pdf_to_image_converter_provider.description"/>
                            </description>
                        </input>

                        <input type="hidden" data-qui="package/quiqqer/htmltopdf/bin/js/backend/controls/TestGeneration"
                               label="false">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.testDocument.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf" var="settings.testDocument.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="chrome_headless" name="chrome_headless">
                        <title>
                            <locale group="quiqqer/htmltopdf" var="chrome_headless.title"/>
                        </title>

                        <input conf="chrome_headless.executable" type="text">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.chrome_headless.executable.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf" var="settings.chrome_headless.executable.description"/>
                            </description>
                        </input>

                        <input conf="chrome_headless.no_sandbox" type="checkbox">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.chrome_headless.no_sandbox.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf"
                                        var="settings.chrome_headless.no_sandbox.description"/>
                            </description>
                        </input>

                        <input conf="chrome_headless.ignore_certificate_errors" type="checkbox">
                            <text>
                                <locale group="quiqqer/htmltopdf"
                                        var="settings.chrome_headless.ignore_certificate_errors.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf"
                                        var="settings.chrome_headless.ignore_certificate_errors.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="image_magick" name="image_magick">
                        <title>
                            <locale group="quiqqer/htmltopdf" var="image_magick.title"/>
                        </title>

                        <input conf="image_magick.convert_executable" type="text">
                            <text>
                                <locale group="quiqqer/htmltopdf" var="settings.image_magick.convert_executable.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/htmltopdf" var="settings.image_magick.convert_executable.description"/>
                            </description>
                        </input>
                    </settings>
                </category>

            </categories>
        </window>

    </settings>
</quiqqer>
